ALCHEMY_URL='https://polygon-mainnet.g.alchemy.com/v2/<API_KEY>'
ENTRY_POINT_ADDRESS='0x5FF137D4b0FDCD49DcA30c7CF57E578a026d2789'
POSTGRES_USER='postgres'
POSTGRES_PASSWORD='postgres'
POSTGRES_DB='BICO'
POSTGRES_HOST='postgres'
POSTGRES_PORT='5432'